/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:wght@300&family=Montserrat&display=swap');

/* Global css */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

input:focus {
    outline: none;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 1200px;
}

#player {
    width: 100%;
    height: 500px;
}

/* HEADER */
header {
    background-image: url('./components/img/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

header .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
    right: 0;
    height: 500px;
}

header .header-section {
    position: relative;
    padding: 150px 0;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

header .header-section h1 {
    font-size: 2.8em;
    padding: 10px 0;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 3px;
    text-transform: uppercase;
}

header .header-section p {
    font-family: Montserrat;
}

header .header-section form input {
    width: 700px;
    padding: 14px 20px 14px 50px;
    margin: 40px 0;
    border: 0;
    border-radius: 5px;    
}

header .header-section form button {
    border: 3px solid #66de98;
    background-color: inherit;
    padding: 11px 20px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

header .header-section form button:hover {
    background: #66de98;
}

header .header-section form .movie-icon {
    position: relative;
    left: 40px;
    top: 11px;
    color: #ccc;
    font-size: 2em;
}

header .header-section form .movie-icon.active {
    color: #66de98;
    text-shadow: rgba(102,222,152,1) 0px 0px 18px;
}

header .header-section form .search-icon {
    position: relative;
    right: 45px;
    top: 10px;
    color: #bbb;
    border-left: 1px solid #ccc;
    padding: 5px 0 5px 12px;
}

header .header-section form .search-icon.active {
    color: #66de98;
}

/* NAV BAR SECTION */
nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #111;
    box-shadow: 0px 0px 41px 52px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 41px 52px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 41px 52px rgba(0,0,0,0.75) inset;
}

nav .nav-section ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav .nav-section ul li:first-child {
    border-right: 1px solid #444;
}
nav .nav-section ul li .link {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #111;
    padding: 20px 200px;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
    box-shadow: 0px 0px 14px 13px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 14px 13px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 14px 13px rgba(0,0,0,0.75) inset;
}

nav .nav-section ul li .link:hover {
    background: #333;
}

nav .nav-section ul li .link.active {
    background-color: #333;
}

/* SECTION */
section {
    position: relative;
    margin: 0 auto;
}

section .section {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 50px;
}

/* MOVIE SECTION */
section .section .movie {
    background-color: #fff;
    display: flex;
    width: 45%;
    margin: 20px;
    position: relative;
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
}

section .section .movie img {
    width: 200px;
}

section .section .movie .box {
    padding: 20px;
}

section .section .movie .box h3 {
    font-size: 1.5em;
}

section .section .movie .box p {
    padding: 5px 0;
    color: #666;
    font-family: Montserrat;
    font-size: .9em;
    line-height: 1.4;
}

section .section .movie .box .view-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    border: 1px solid #000;
    color: #000;
    padding: 6px 20px;
    font-size: 0.7em;
}

section .section .movie .box .view-btn:hover {
    background-color: rgba(157, 157, 157, 0.3);
}

/* SHOW SECTION */
section .section .show {
    background-color: #fff;
    display: flex;
    width: 45%;
    margin: 20px;
    position: relative;
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
}

section .section .show img {
    width: 200px;
}

section .section .show .box {
    padding: 20px;
}

section .section .show .box h3 {
    font-size: 1.5em;
}

section .section .show .box p {
    padding: 5px 0;
    color: #666;
    font-family: Montserrat;
    font-size: .9em;
    line-height: 1.4;
}

section .section .show .box .view-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    border: 1px solid #000;
    color: #000;
    padding: 6px 20px;
    font-size: 0.7em;
}

section .section .show .box .view-btn:hover {
    background-color: rgba(157, 157, 157, 0.3);
}

/* DETAILS SECTION */
.details {
    margin: 50px 0;
}

.details .back-btn {
    text-decoration: none;
    display: flex;
    margin-bottom: 20px;
    color: #000;
    font-weight: bold;
    width: 60px;
}

.details #icon {
    margin-right: 7px;
    animation: animateArrowLeft 1s infinite ease-in-out;
    position: relative;
}

@keyframes animateArrowLeft {
    0% { left: 0px; }
    50% { left: 5px; }
    100% { left: 0px; }
}

.details .poster-section {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -5px rgba(0,0,0,0.75);
}

.details .poster-section img {
    width: 100%;
    height: 500px;
}

.details section {
    margin: 20px 5px;
}

.details section h1 {
    font-size: 2.5em;
}

.details section p {
    margin: 20px 0;
    font-family: Montserrat;
    line-height: 1.4;
    font-size: 1.1em;
    color: #888;
}

/* MEDIA QUERIES */

@media (min-width: 1000px ) and (max-width: 1220px) {
    .container {width: 100%}
}

@media (min-width: 710px ) and (max-width: 1000px) {
    .container {width: 80% !important}
    nav .nav-section ul li .link {padding: 20px 100px !important}
}

@media (min-width: 500px ) and (max-width: 1000px) {
    .container {width: 100%}
    header .header-section form input {width: 60%}
    nav .nav-section ul li .link {padding: 20px 80px}
    section .section {
        display: block;
        margin: 40px 0px;
    }
    section .section .movie {width: inherit}
    section .section .show {width: inherit}
    .details {margin: 50px 20px}
}

@media(max-width: 500px) {
    .container {width: 100%}
    header .header-section h1 {font-size: 2.4em}
    header .header-section p {font-size: 13px}
    header .header-section form input {width: 60%}
    nav .nav-section ul li .link {padding: 20px 50px}
    section .section {display: block; margin: 40px 0}
    section .section .movie {
        width: 80%;
        display: block;
        height: 750px;
        margin: 40px auto;
    }
    section .section .movie img {width: 100%}
    section .section .show {
        width: 80%;
        display: block;
        height: 750px;
        margin: 40px auto;
    }
    section .section .show img {width: 100%}
    .details {margin: 50px 20px}
}

@media(max-width: 370px) {
    header .header-section form input {width: 50%}
    nav .nav-section ul li .link {padding: 20px 30px}
}